deploy-username: <pws-username>
deploy-password: <pws-password>
pws-organization: <pws-org-name>
pws-space: <pws-stage-space-name>
pws-api: <pws-api-url>
pws-app-suffix: app-hello
pws-app-domain: cfapps.io
pws-app-hostname: main
github-private-key: |
BEGIN RSA PRIVATE KEY-----
END RSA PRIVATE KEY-----
git-email: test@example.com
git-name: test
git-source-repo-uri: git@github.com:test/source.git
